doctype html
html
  head
    title!= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/assets/style.css')
  body
    #app-node!= html

    script(src='/assets/script.js')
