.navigation-wrapper {
  $background-color: grey;

  background-color: $background-color;
  clear: fix;

  ul.navigation-menu {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  .navigation-tools {
    float: right;
  }
}
