@import '../node_modules/cssrecipes-defaults/index.css';
@import '../node_modules/weather-icons/css/weather-icons.css';
@import "../node_modules/font-awesome/css/font-awesome.css";

@import './common/layout.pcss';
@import './components/button.pcss';
@import './components/panel.pcss';
@import './components/modal.pcss';

@import './components/navbar.pcss';
@import './components/footer.pcss';
@import './components/weather.pcss';
